[Unit]
Description=UpsiBot
After=network.target

[Service]
Environment=mainToken=
Environment=scraperToken=
Environment=hypixelToken=

ExecStart=/usr/bin/nodemon index.js --delay 15
WorkingDirectory=/home/pi/projects/upsibot/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
