[Unit]
Description=UpsiBot
After=network.target

[Service]
ExecStart=/usr/bin/nodemon index.js
WorkingDirectory=/home/pi/projects/upsibot/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
